body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.headerMenu a {
    color: #efefef !important;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.headerMenu a:hover {
    color: silver !important;
}

.contactFooter {
    text-align: center;
    background-color: #272424;
    color: #efefef;
    padding: 5px;
    font-family: "Open Sans",Arial,sans-serif;
    padding: 0px;
}

footer .pagerow {
    text-align: left;
    background-color: #787878;
    font-size: 18px;
    padding: 15px;
    font-family: "Open Sans",Arial,sans-serif;
}

.reviews {
    font-style: italic;
    color: #efefef;
}

footer {
    text-align: center;
    background-color: #2F4057;
    color: #efefef;
    padding-top: 0px;
    padding-bottom: 1px;
    font-family: "Open Sans",Arial,sans-serif;
}

    footer p {
        padding-top: 10px;
    }

.subheader {
    background-color: #c46200;
}


h1 {
    color: #efefef;
    background-color: #c46200;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 600;
}

.dhi_navbar div {
    text-align: center;
    background-color: #2F4057;
    color: #efefef !important;
    font-family: "Open Sans",Arial,sans-serif;
}

.dhi_navbar ul {
    text-align: center;
}



.dhi_top img {
    height: 120px;
}

.dhi_top {
    background-color: white !important;
    width: 100%;
}


.flag-background {
    background-image: url("images/flag.jpg");
    padding: 0px;
    height: 100%;
}

img.siteImage {
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    border-radius: 8px;
}

h2 span {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: xx-large;
    font-weight: 900;
    padding: 0px 10px;
    background: #fff;
}

h4 {
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 800;
}


/*  Image polaroid*/
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.polaroidContainer {
    text-align: center;
    padding: 10px 20px;
    background-color: #666;
    color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: large;
}


#subFooter h2 {
    color: #495E7B;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 800;
}

#contactduo h3 {
    color: #495E7B;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: 800;
}


#contactduo.et_pb_text a {
    background-color: #495E7B;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px !important;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

    #contactduo.et_pb_text a:hover {
        background-color: #c46200 !important;
        text-decoration: none;
    }


#contactduo.et_pb_text h3 {
    color: #495E7B;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#contactduo.et_pb_text p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-bottom: 10px;
}



/*Mobile*/
@media screen and (max-width: 640px) {
    .fullSiteOnly {
        display: none;
    }
}


.sectionBreaker {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}


@media screen and (max-width: 640px) {
    .sectionBreaker span{
        white-space: nowrap;
        color: #495E7B;
        font-size: .80em;
        font-weight: normal;
    }
    .sectionBreaker {
        border: none;
    }
}


.servicesImage {
    height: 150px;
}


@media screen and (max-width: 640px) {
    .servicesImage{
        height: 90px
            
    }
}

.homePageBanner {
    background-image: url(/content/images/banner2.png);
    background-size:  cover
}

@media screen and (max-width: 640px) {
    .homePageBanner{
        height: 90px
            
    }
}

.contactDiv {
min-height: 500px;
}

@media screen and (max-width: 1000px) {
    .contactDiv{
        min-height: 200px;            
    }
}