@{
    ViewBag.Title = "About";
    ViewBag.SubHeader = "About";
}
<div class="container body-content">
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-6">
            <img src="~/content/images/IMG_0074-1.jpg" height="300" alt="">
            <h3 style="text-align: center;"><span style="font-weight: 400;">Kyle Moseley – Alabama License # HI-4160</span></h3>
        </div>
        <div class="col-md-6">
            <div id="abouttext">

                <h2><span style="font-weight: 400;">We care about your safety and the safety of your home!</span></h2>
                <p><span style="font-weight: 400;">Our owner and inspector Kyle Moseley, is originally from Alexander City, Alabama. Growing up in a small town he learned very early the meaning of hard work and respect. He has devoted many years to protection our local communities with his service as a volunteer and professional Firefighter and Emergency Medical Technician. He understands that time is of the essence, Distinct Home Inspection prides themselves in delivering a complete, clear, and detailed inspection report; ensuring a smooth process for everyone involved.</span></p>
                <p style="text-align: center;">
                </p><p style="text-align: center;">
                </p>
            </div>
        </div>
    </div>

    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
</div>


<footer>
    <div class="pagerow">
        <div class="container body-content">
            <div class="col-md-12">
                <div class="col-md-6">
                    <p class="reviews">The home inspector at distinct home inspection does a very thorough job while remaining completely professional. The inspection report is very detailed and easy to follow.</p>
                    <strong>D Lewallen – Alexander City, AL</strong>
                </div>
                <div class="col-md-6">

                    <p class="reviews">5 Stars!!!! Kyle performed a THOROUGH home inspection on a house I was attempting purchase for a rental house. After he completed the inspection, I put in a bid for $20,000 and was totally comfortable with it. The seller didn't accept the offer but I was totally at peace with walking away. Best money I have ever spent and it prevented me from getting myself in over my head!! Kyle's inspection was thorough and the documentation was detailed. He responded quickly and completed the paperwork quickly also.</p>
                    <strong>T Hughey – Sylacauga, AL</strong>
                </div>
            </div>
        </div>
    </div>
</footer>
<p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
