@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12 homePageBanner">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="animatedParent">
            <div class="animated fadeInLeft homeSlider">
                <div style="float: right">
                    <div class="col-md-12" style="padding-top:10px">
                        <div class="col-md-4">
                            <img src="~/Content/images/SliderLogo.png" style="width: 170px" alt="Distinct Home Inspection Logo" />
                        </div>
                        <div class="col-md-8">
                            <h3>HONEST &amp; RELIABLE</h3>
                            <h4>HOME INSPECTIONS</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="animatedParent homeBookSlider">
            <div class="animated fadeInUp ">
                <div style="float: right">
                    <div class="col-md-12 homeBookSliderDiv">
                        <h3>BOOK YOUR INSPECTION TODAY!</h3>
                        <br />
                        <div class="col-md-6 homeBookSliderButton">
                            <a href="https://goisn.net/distincthomeinspectionllc/schedule-online/a60ac7a4-65c4-5205-99c4-52c3e5f37002" target="_blank">BOOK INSPECTION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>


    <div class="pagerow" style="background-color: #cdcdcd; margin-top: -20px; color: #2F4057;">
        <div class="container body-content">
            <div class="col-md-12">
                <h2 style="font-family: 'Open Sans',Arial,sans-serif; font-weight: 600">Peace of mind every time!</h2>
                Our job is not done until you understand every detail of your home inspection report.
                <p>&nbsp;</p>
                Home Inspection Services proudly serving Auburn, Opelika, Alexander City, Lake Martin, Sylacauga, and all other areas of Alabama and West Georgia.
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

</div>
