@{
    ViewBag.Title = "Maintenance Tips";
    ViewBag.SubHeader = "Maintenance Tips";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h2>Congrats on your new home!</h2>
            Now that you have the home of your dreams, you'll want to maintain it so it continues to work well and look good for years to come. Here are a few tips to help you keep your home in tip-top shape.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="sectionBreaker"><span>Spring</span></h2>
        </div>
    </div>
    <div class="col-md-12">
        <img class="siteImage fullSiteOnly" src="~/Content/images/maintenanceSpring.jpg" style="float: right;" alt="Spring" />
        <h4>March - April - May</h4>
        <ul>
            <li>Move your multi-purpose fire extinguishers to an accessible place, and make sure it is filled and ready for operations. You should check every month that all fire extinguishers are in working order and located in a convenient, easily accessible location.</li>
            <li>Have your air-conditioning sysem inspected by a professional as recommended by the manufacturer.</li>
            <li>Clean range hood filters.</li>
            <li>Check your water heater for leaks and corrosion.</li>
            <li>Clean or replace your furnace filter.</li>
            <li>Clean the clothes dryer exhaust duct and space under the dryer. Remove all lint, dust, and pieces of material.</li>
            <li>Inspect your smoke detectors. Make sure there is one on each floor of your home. Test them monthly, and change the batteries annually or as needed.</li>
            <li>Check the light bulbs in all your fixtures. Be sure they are the correct wattage as recommended by the manufacturer.</li>
            <li>Replace all high intensity bulbs with fluorescent bulbs. Other types of bulbs, like incandescent, produce more heat than fluorescent bulbs.</li>
            <li>Check electrical outlets for potential fire hazards such as frayed wires or loose-fitting plugs. Be sure not to overload electrical outlets, fuse boxes, extension cords or any other power service.</li>
            <li>Check for roof damage.</li>
            <li>Clean gutters and downspouts to keep debris from accumulating.</li>
            <li>Remove dead trees in your yard to prevent possible damage from a fallen tree.</li>
            <li>Keep healthy trees and bushes trimmed and away from utility wires.</li>
            <li>When installing mulch, be sure to leave 6-8" between the ground and the bottom of the siding to prevent moisture from seeping up into the walls.</li>
            <li>Safely store oil and gas for lawn equipment and tools in a vented, locked area.</li>
            <li>Repair cracked, broken, or uneven driveways and walkways to provide a level walking surface.</li>
            <li>Touch up peeling or damaged painting on exterior of home, including but not limited to; deck, siding/trim, stairs and railing. The paint acts as a sealer to help prevent moisture damage and wood rot.</li>
            <li>If your home has brick siding, be sure to take a look around the exterior for settlement cracks.</li>
            <li>Wash vinyl siding to remove mildew and keep it looking new.</li>
        </ul>

    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="sectionBreaker"><span>Summer</span></h2>
        </div>
    </div>
    <div class="col-md-12">
        <img class="siteImage fullSiteOnly" src="~/Content/images/maintenanceSummer.jpg" style="float: right;" alt="Summer"/>
        <h4>June - July - August</h4>
        <ul>
            <li>Check deck or patio for possible deterioration and safety hazards such as loose boards and protruding nails.</li>
            <li>Check electrical outlets for potential fire hazards such as frayed wires or loose-fitting plugs. Be sure not to overload electrical outlets, fuse boxes, extension cords or any other power service.</li>
            <li>Check all window and door locks to ensure correct functioning. Make sure all locks are secure and there are no holes in any other the screens.</li>
            <li>Carefully inspect the toilet. Look for the erosion of plastic floater valves, and check all pipes and connections.</li>
            <li>Clean range hood filters.</li>
            <li>Change or clean heating, ventilating and air conditioning filters. Consult manufacturer instructions for your furnace to determine whether you need to change filters more frequently.</li>
            <li>Clean the clothes dryer exhaust duct and space under the dryer. Remove all lint, dust, and pieces of material.</li>
            <li>Inspect washing machine hoses periodically, and replace hoses that show signs of wear or leakage.</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="sectionBreaker"><span>Fall</span></h2>
        </div>
    </div>
    <div class="col-md-12">
        <img class="siteImage fullSiteOnly" src="~/Content/images/maintenanceFall.jpg" style="float: right;" alt="Fall"/>
        <h4>September - October - November</h4>
        <ul>
            <li>Keep flammable materials, including all lawn and power equipment, away from water heaters and wiring.</li>
            <li>Insulate water pipes in areas exposed to cold temperatures, and turn up the thermostat during extra cold periods.</li>
            <li>Check for damage to your roof, and clean gutters and downspouts to keep debris from accumulating. This is especially important during the fall season to keep leaves from building up in gutters.</li>
            <li>Check and repair caulking around showers, bathtubs, sinks and toilet bases; and make repairs as needed.</li>
            <li>Have your chimney clean before use.</li>
            <li>Clean and/or replace your furnace / furnace filters.</li>
            <li>Clean range hood filters.</li>
            <li>Clean the clothes dryer exhaust duct and space under the dryer. Remove all lint, dust, and pieces of material.</li>
            <li>Check electrical outlets for potential fire hazards such as frayed wires or loose-fitting plugs. Be sure not to overload electrical outlets, fuse boxes, extension cords or any other power service.</li>
            <li>Keep a multi-purpose fire extinguisher accessible, filled and ready for operation.</li>
            <li>Inspect your smoke detectors. Make sure there is one on each floor of your home. Test them monthly, and change the batteries annually or as needed.</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="sectionBreaker"><span>Winter</span></h2>
        </div>
    </div>

    <div class="col-md-12">
        <img class="siteImage fullSiteOnly" src="~/Content/images/maintenanceWinter.jpg" style="float: right;" alt="Winter"/>
        <h4>December - January - February</h4>
        <ul>
            <li>Clean or replace furnace filters.</li>
            <li>Clean range hood filters.</li>
            <li>Trim trees and remove dead branches so they do not damage your home or injure someone if they fall.</li>
            <li>Keep gutters clear of leaves, sticks, and other  debris. Make sure downspouts direct away from the foundation.</li>
            <li>Check smoke detectors, fire alarms and carbon monoxide detectors and replace batteries to ensure they are operating properly</li>
            <li>Repair steps and handrails to ensure safety.</li>
            <li>Check for water leaks and fix problems immediately. Learn how to shut off your water and know where your pipes are located in case they do freeze; you may be able to prevent water damage.</li>
            <li>Add weather stripping around doors and caulk windows to guard against drafts and heat loss.</li>
            <li>If possible, remove screens from windows, and install storm windows.</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <h2 class="sectionBreaker"><span>Quarterly - Annually</span></h2>
        </div>
    </div>
    <div class="col-md-12">
        <ul>
            <li>Test garage door auto-reverse feature.</li>
            <li>Vacuum refrigerator coils.</li>
            <li>Flush hot water heater and remove sediment.</li>
            <li>Check caulking around showers and bathtubs for crack or leaks; repair as needed.</li>
            <li>Replace damaged window screens.</li>
            <li>Inspect the exterior siding of home for damage; repair or replace as needed.</li>
            <li>Have your roof inspected by a professional once every few years to identify areas of potential leakage.</li>
            <li>Have your furnace cleaned and inspected annually by a qualified technician. In the winter (before you begin using the heating equipment) is a good time to have your furnace inspected and serviced.</li>
            <li>Have your chimney cleaned, inspected and maintained annually by a professional. Pay particular attention to have creosote build-up removed.</li>
        </ul>
    </div>
</div>
