
@{
    ViewBag.Title = "Our Services";
    ViewBag.SubHeader = "Services";
}

<div class="container body-content">
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Distinct Home Inspection offers comprehensive inspection services!</h2>
                Our inspection covers every visible and accessible aspect of a home. You can expect our home inspector to follow all Alabama and American Society of Home Inspectors Standards of Practice, and to include detailed reviews of the following componets of the structure.
                <p>&nbsp;</p>

                <div class="col-md-4">
                    <ul>
                        <li>Roofing</li>
                        <li>Attic</li>
                        <li>Insulation</li>
                        <li>Fireplaces</li>
                        <li>Windows</li>
                        <li>Doors</li>
                        <li>HVAC</li>
                        <li>Electrical</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Plumbing</li>
                        <li>Foundation</li>
                        <li>Walls</li>
                        <li>Floors</li>
                        <li>Exterior</li>
                        <li>Grounds</li>
                        <li>Driveway</li>
                        <li>Sprinklers</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Garage</li>
                        <li>Water Heater</li>
                        <li>Kitchen</li>
                        <li>Appliances</li>
                        <li>Bathrooms</li>
                        <li>Laundry</li>
                        <li>And all other areas</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="polaroid">
                    <img src="~/content/images/IMG_0084-1.jpg" alt="Kyle Moseley" style="width:100%">
                    <div class="polaroidContainer">
                        <p>Kyle Moseley – Alabama License # HI-4160</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sectionBreaker"><span>STATE OF THE ART</span></h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
                <div class="col-md-6">
                    <center><img src="~/Content/images/servicesDrone.jpg" height="150" /></center>
                    <h4>Surveillance Drone</h4>
                    We use a DJI Mavic Pro UAV (Drone). In the past, we were not always able to offer full roof inspections due to roofs being too tall, too steep, or the like. We had to resort to only visual inspections from the ground, ladder, or upper level windows. Now we can utilize 4K video and up to 12MP still photos of your entire roof. Not only is this method quicker but it has several benefits: safer for our inspector, better for your roof, and also better inspection quality. This service is included with every inspection (weather permitting).  We will also offer this as a stand-alone service for general roof inspections or for damage inspections after weather events. And for our Realtor friends we offer aerial and walk through video and images for your listings.
                </div>
                <div class="col-md-6">
                    <center><img src="~/Content/images/servicesMoistureMeter.jpg" height="150" /></center>
                    <h4>Moisture Meters</h4>
                    A moisture meter is a device designed to measure the moisture content of various building materials, such as roofing, siding, insulation, drywall, plaster, wood, tile and fiberglass. Structural and safety hazards, such as mold, rot and decay are all potential consequences of elevated moisture levels in these materials. An inspector can use a moisture meter to locate moisture that would not otherwise be apparent.
                </div>
            </div>
        </div>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-12">
            <center><img src="~/Content/images/thermal.jpg" height="150" /></center>
            <h4>Thermal Imaging</h4>
            Infrared (thermal imaging) is an advanced, non-invasive technology that allows the inspector to show clients things about their homes or buildings that can’t be revealed using conventional inspection methods. An infrared inspection can identify and document moisture intrusion, energy loss, and even unexpected hot spots.

            <div class="col-md-12">
                <div class="col-md-4">
                    <h3>In terms of energy loss, an IR camera can detect</h3>
                    <ul>
                        <li>Heat loss and air infiltration in walls, ceilings, floors, windows and  doors</li>
                        <li>Damaged and/or malfunctioning radiant heating systems</li>
                        <li>Air-conditioner compressor leaks</li>
                        <li>Under-fastening and/or missing framing members, and other structural defects that can lead to energy loss; and broken seals in double-paned windows.</li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <h3>In terms of detecting moisture intrusion, an IR camera can locate</h3>
                    <ul>
                        <li>Plumbing leaks</li>
                        <li>Hidden roof leaks before they cause serious damage</li>
                        <li>Missing, damaged and/or wet insulation</li>
                        <li>Water and moisture intrusion around penetrations and at the foundation and building envelope that could lead to structural damage and mold</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>IR cameras are equally effective at locating hot spots in the home, including</h3>
                    <ul>
                        <li>Circuit breakers in need of immediate replacement</li>
                        <li>Overloaded and undersized circuits</li>
                        <li>Overheated electrical equipment and components</li>
                        <li>Electrical faults before they cause a fire</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3>Additionally, based on the color gradients that thermal images provide, an inspector can locate</h3>
                <ul>
                    <li>Possible pest infestation, as revealed by energy loss through shelter tubes left by boring wood-destroying insects</li>
                    <li>The presence of intruders, such as rats, mice and other larger pests hiding within the structure and detected because of their heat signature that the IR camera captures</li>
                    <li>Dangerous flue leaks, which can lead to carbon monoxide poisoning of the home’s residents</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Standard Images with Infrared Images</h3>
                The report is user-friendly. The Inspector provides standard digital images side by side with your IR images.  This gives clients an accurate point of reference for the IR data, which is essential for mapping out improvements and repairs.

                <p>&nbsp;</p>
                <div class="col-md-6">
                    <img class="siteImage" height="275px" src="~/Content/images/servicesWall.jpg" />
                </div>
                <div class="col-md-6">
                    <img class="siteImage" height="275px" src="~/Content/images/servicesWallThermal.jpg" />
                </div>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sectionBreaker"><span>ADDITIONAL SERVICES</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <h4>NEW CONSTRUCTION</h4>
                Builders should welcome the opportunity to have their homes inspected by private home inspectors; it's a chance for construction errors to be addressed before they become major problems. It doesn't matter how thorough the municipal inspector is; mistakes are still missed.
            </div>
            <div class="col-md-3">
                <h4>POOL INSPECTIONS</h4>
                You can rest assured your pool inspection report will be exceptionally in depth and backed by first hand knowledge.
            </div>
            <div class="col-md-3">
                <h4>PRE-LISTING INSPECTION</h4>
                These are intended to let home sellers or agents know what visible defects are present at the time of the inspection so that they can save money by taking care of any necessary repairs before listing the home.
            </div>
            <div class="col-md-3">
                <h4>AERIAL PHOTOGRAPHY</h4>
                @Html.ActionLink("Contact for more information.", "Contact", "Home")
                <p>
                    <img src="~/Content/images/IMG_2884.jpg" height="125px" class="siteImage" />
                </p>
            </div>
        </div>
    </div>

</div>
