@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<pre>
Change Picture to me and info under to Kyle Moseley –Alabama License # HI-4160

Remove Book inspection button

Paragraph will change to this:

We care about your safety and the safety of your home!

Our owner and inspector Kyle Moseley, is originally from Alexander City, Alabama. Growing up in a small town he learned very early the meaning of hard work and respect. He has devoted many years to protection our local communities with his service as a volunteer and professional Firefighter and Emergency Medical Technician. He understands that time is of the essence, Distinct Home Inspection prides themselves in delivering a complete, clear, and detailed inspection report; ensuring a smooth process for everyone involved.

Reiews will change to these:
The home inspector at distinct home inspection does a very thorough job while remaining completely professional. The inspection report is very detailed and easy to follow. D Lewallen – Alexander City, AL

5 Stars!!!! Kyle performed a THOROUGH home inspection on a house I was attempting purchase for a rental house. After he completed the inspection, I put in a bid for $20,000 and was totally comfortable with it. The seller didn't accept the offer but I was totally at peace with walking away. Best money I have ever spent and it prevented me from getting myself in over my head!! Kyle's inspection was thorough and the documentation was detailed. He responded quickly and completed the paperwork quickly also. T Hughey – Sylacauga, AL

Remove Our Certifications area

Bottom will be same changes as home page.
</pre>