@{
    ViewBag.Title = "Distinct Home Inspection, LLC";
}
<article id="post-44" class="post-44 page type-page status-publish hentry">

    <div class="entry-content">
        <div class="et_pb_section  et_pb_section_0 et_pb_with_background et_section_regular">

            <div class=" et_pb_row et_pb_row_0 et_pb_gutters1 et_pb_row_fullwidth">
                <div class="et_pb_column et_pb_column_4_4  et_pb_column_0 animatedParent">

                    <div id="hometext1" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0 animated fadeInLeftShort go">

                        <h1 style="text-align: left;">
                            <span style="color: #e5322c;">
                                <img class="alignleft size-full wp-image-73" src="https://firehouseinspections.net/wp-content/uploads/2016/07/firebadge.png" alt="firebadge" srcset="https://firehouseinspections.net/wp-content/uploads/2016/07/firebadge.png 200w, https://firehouseinspections.net/wp-content/uploads/2016/07/firebadge-150x150.png 150w" sizes="(max-width: 200px) 100vw, 200px" width="200" height="200">HONEST
                            </span>
                            <span style="color: black;">&amp; </span><span style="color: #e5322c;">RELIABLE</span>
                        </h1>
                        <h3 style="text-align: left;">HOME INSPECTIONS</h3>

                    </div> <!-- .et_pb_text -->
                </div> <!-- .et_pb_column -->

            </div> <!-- .et_pb_row -->
            <div class=" et_pb_row et_pb_row_1">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_1 animatedParent">

                    <div id="booktitle" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_1 animated fadeInUpShort go">

                        <h3 style="text-align: center;">BOOK YOUR INSPECTION TODAY!</h3>
                        <p style="text-align: center;">
                            Serving&nbsp;<span style="font-weight: 400;">
                                Auburn, Opelika, Alexander City, Lake Martin, Sylacauga,
                            </span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-weight: 400;">and all other areas of Alabama and West Georgia</span>
                            <span style="font-weight: 400;">
                                <br>
                            </span>
                        </p>
                        <p style="text-align: center;"></p>
                        <div class="ezcol ezcol-one-half">
                            <p style="text-align: center;"><a href="tel:256-749-5340" target="_blank">256-749-5340</a></p>
                            <p style="text-align: center;"></p>
                        </div>
                        <div class="ezcol-divider"></div>
                    </div> <!-- .et_pb_text -->
                </div> <!-- .et_pb_column -->

            </div> <!-- .et_pb_row -->
        </div> <!-- .et_pb_section -->

        <div class="et_pb_section  et_pb_section_1 et_section_regular">



            <div class=" et_pb_row et_pb_row_2">

                <div class="et_pb_column et_pb_column_4_4  et_pb_column_2">

                    <div id="homewhiteitle" class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_2">

                        <h1 style="text-align: center;"><span style="font-weight: 400;">Peace of mind every time!</span></h1>
                        <p style="text-align: center;">
                        </p>
                    </div> <!-- .et_pb_text -->
                    <div id="hometexter2" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_3">

                        <p>
                            <span style="font-weight: 400;">Our job is not done until you understand every detail of your home inspection report.</span>
                        </p>
                        <p style="text-align: center;">
                        </p>
                    </div> <!-- .et_pb_text -->
                </div> <!-- .et_pb_column -->

            </div> <!-- .et_pb_row -->

        </div> <!-- .et_pb_section -->

        <div class="et_pb_section  et_pb_section_2 et_pb_with_background et_section_regular">

            <div class=" et_pb_row et_pb_row_3">

                <div class="et_pb_column et_pb_column_2_3  et_pb_column_3">

                    <div id="hometitlenew" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_4">

                        <h1><span style="font-weight: 400;">Don’t trust your home to anyone else!</span></h1>
                        <p style="text-align: center;"></p>
                        <p style="text-align: center;"></p>
                    </div> <!-- .et_pb_text -->
                    <div id="hometexter5" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_5">

                        <h3><span style="font-weight: 400;">VIEW A SAMPLE REPORT</span></h3>
                        <p><a href="#">CLICK HERE</a></p>
                        <p style="text-align: center;">
                        </p>
                    </div> <!-- .et_pb_text -->
                </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row -->

        </div> <!-- .et_pb_section -->



        <div id="contactbanner" class="et_pb_section  et_pb_section_5 et_pb_with_background et_section_regular">

            <div class=" et_pb_row et_pb_row_5">

                <div class="et_pb_column et_pb_column_2_3  et_pb_column_7">

                    <div id="contacttrio2" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_8">
                        <p style="text-align: left;"></p>
                        <div class="ezcol ezcol-four-fifth ezcol-last">
                            <h2 style="text-align: left;">CONTACT US</h2>

                            <p style="text-align: left;">
                                Kyle Moseley - Licensed Home Inspector <br />
                                <strong>Alabama License #HI-4160</strong>
                            </p><p style="text-align: left;">
                            </p>
                        </div>
                        <div class="ezcol-divider"></div>
                        <p style="text-align: center;">&nbsp;</p>


                    </div> <!-- .et_pb_text -->
                    <div id="contacttrio" class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_9">

                        <p style="text-align: center;"></p>
                        <div class="ezcol ezcol-one-third">
                            <h3 style="text-align: center;">Phone</h3>
                            <p style="text-align: center;"><a href="tel:256-749-5340" target="_blank">256-749-5340</a></p>
                            <p style="text-align: center;"></p>
                        </div>
                        <div class="ezcol ezcol-one-third">
                            <h3 style="text-align: center;">Email</h3>
                            <p style="text-align: center;"><a href="mailto:distincthomeinspectionllc@gmail.com" target="_blank">CLICK HERE</a></p>
                            <p style="text-align: center;"></p>
                        </div>
                        <div class="ezcol-divider"></div>
                        <p style="text-align: center;">&nbsp;</p>


                    </div> <!-- .et_pb_text -->
                </div> <!-- .et_pb_column -->
            </div> <!-- .et_pb_row -->
        </div> <!-- .et_pb_section -->
    </div> <!-- .entry-content -->

</article> <!-- .et_pb_post -->