@{
    ViewBag.Title = "Services";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Services</p>

<pre>
Change Picture to one I attach
Distinct Home Inspection offers comprehensive inspection services!
Our inspection covers every visible and accessible aspect of a home. You can expect our home inspector to follow all Alabama and American Society of Home Inspectors Standards of Practice, and to include detailed reviews of the following componets of the structure. 
•	Roofing
•	Attic
•	Insulation
•	Fireplaces
•	Windows
•	Doors
•	HVAC
•	Electrical
•	Plumbing
•	Foundation
•	Walls
•	Floors
•	Exterior
•	Grounds
•	Driveway
•	Sprinklers
•	Garage
•	Water Heater
•	Kitchen
•	Appliances
•	Bathrooms
•	Laundry
•	And all other areas
Coming soon over Drone
Remove Altimeter 
Change WDI inspections to 
New Construction 
Builders should welcome the opportunity to have their homes inspected by private home inspectors; it's a chance for construction errors to be addressed before they become major problems. It doesn't matter how thorough the municipal inspector is; mistakes are still missed.
Pool Inspections
You can rest assured your pool inspection report will be exceptionally in depth and backed by first hand knoldge. 
Bottom of page same as home page

</pre>